
// $color-primary: #36657f;
$color-primary: #50926e;
$color-secondary: rgb(117,53,53);
$color-secondary-highlight: rgb(154, 191, 216);

$color-background: rgb(248 249 250);

$color-off-white: #f0f0f0;

$color-font-primary: #344767;
$color-font-black: #0c1322;
$color-font-grey: rgb(103 116 142);

$color-highlight: rgb(117, 207, 0);
$color-failure: rgb(182, 4, 4);