@use '../abstract' as a;

table {
    --row-padding--sm: 1.5rem;
    --row-padding--md: 2.5rem;

    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    min-width: 100%;

}

th {
    position: relative;
    text-align: left;
    // background-color: #f9fafb;
    &:first-of-type {
        padding-left: var(--row-padding--md);
    }
    &:last-of-type {
        padding-right: var(--row-padding--md);
    }
}


tbody tr {
    position: relative;
   
    &:last-of-type {
        border-bottom: none;
    }

    &:hover {
        color: white;
        background-color: a.$color-secondary-highlight;
    }
}

.table__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--table-controls-height--applications);
    width: 100%;
    padding: 0 1.5rem;
    border-top: a.$table-border;
}

.table__arrow {
    position: absolute;
    top: 50%;

    display: flex;
    width: 1.4rem;
    fill: a.$color-primary;

    &:not(&--added) {
        right: 0;
        transform: translateY(-50%) translateX(calc(100% + 1rem));
    }
    &--added {
        left: 0;
        transform: translateY(-50%) translateX(calc(-100% - 1rem));
    }
}

.search--table {
    display: flex;
    align-items: center;
    height: 80%;
    padding: 0 1rem;
    margin-left: 1rem;
    background-color: white;
    border-radius: a.$radius-m;
}
.search__input {
    border: none;
    display: none;
}
.search__icon--table {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    transform: rotateY(180deg);
}
.search__options {
    height: 80%;
    margin-left: auto;

    background-color: white;
    border-radius: a.$radius-m;
    box-shadow: a.$shadow;
}
.search__dropdown {
    border: none;
    height: 100%;
    border-radius: a.$radius-m;
    
    &::placeholder {
        padding-left: 1rem;
    }
}

.table__wrapper--applications {
    grid-column: 1;
    display: grid;
    grid-template-rows: min-content min-content;
    row-gap: a.$margin-sm;
}

.table__content--applications {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: 1;
    height: var(--table-height--applications);
    background-color: white;
    border-radius: a.$radius-m;
    box-shadow: a.$shadow;
}

.table--applications {
    width: 100%;
}

.tr--applications {
    height: var(--row-height--applications);
    font-size: 1.5rem;
    color: a.$color-font-black;
    box-shadow: 0 1px 0 0 #d5d8de;

    cursor: pointer;

    & td {
        // border: 1px solid grey;
        &:first-of-type {
            padding-left: var(--row-padding--md);
        }
 
    }
}
thead .tr--applications {
    color: a.$color-font-grey;

    height: var(--thead-height--applications);
    // border-bottom: 1px solid #d5d8de;
}


.th--checkbox {
    width: 6.5rem;
}
.th--name {
    width: 18rem;
}
.th--position {
    width: 22rem;
}
.th--cv {
    width: 5rem;
}
.th--added {
    width: 8rem;
}
.th--added, .td--added {
    text-align: right;
}
.th--search {
    width: 12rem;
}

.th__data {
    position: relative;
    display: inline;
}
.td--checkbox {
    position: relative;
}
.td__data--checkbox, .th__data--checkbox {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;


}
.checkbox-label, .checkbox-label--all {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;

}
.td--edit {
    text-align: right;
    padding-right: calc(var(--row-padding--md) + .8rem);
    font-weight: 700;
    color: firebrick;
}

.td--name, .td--position, .td--company {
    padding-right: 3rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.btn-wrapper{
    display: flex;

    &--pagination {
        margin-left: auto;
    }
}

.add-btn--table, .edit-btn--table, .delete-btn--table, .back-btn--table, .forward-btn--table, .search-btn--table {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    padding: 0 1rem;
    background-color: white;
    color: a.$color-font-primary;
    border-radius: a.$radius-m;
    border: a.$table-border;

    &:not(:first-of-type) {
        margin-left: .5rem;
    }
    &:not(:last-of-type) {
        margin-right: .5rem;
    }

    &:hover {
        color: white;
        background-color: a.$color-primary;
    }
}
.delete-btn--table { 
    color: a.$color-secondary; 

    &:hover {
        color: white;
        background-color: firebrick;
    }
}
.search-btn--table {
    margin-left: auto;
}
.chevron-btn--thead {
    width: 2rem;
    transform: rotate(-90deg);
}

.dropdown-btn--table {
    display: flex;
    align-items: center;
    justify-content: center;
}
.forward-btn--table { margin-right: auto; }
.back-btn--table { margin-left: auto; }

.add-icon--table, .delete-icon--table, .back-icon--table, .forward-icon--table,
.dropdown-btn--table {
    width: 2.2rem;
}
.edit-icon--table {
    width: 2rem;
}
.checkbox--applications {
    accent-color: firebrick;
}
